.myhtml{
    background: #02bac6 url("../img/p1.jpg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.portrait{
    width: 30px;
    height: 30px;
}
.myli{
    margin-bottom: 5px;
}
